<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Anuario</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="#" id="perfilnav">
                <h1>Detalles</h1>
            </a>

        </div>
        <div class="navigation">

            <input type="checkbox"class="toggle-menu">
            <div class="hamburger"></div>

            <ul class="menu">
                <li><a href="/welcome">Inicio</a></li>
                <li><a href="/alumnosSesion">Alumnos</a></li>
                <li><a href="/proyectosSesion">Proyectos</a></li>
                
                <div class="mar">
                <button class="upbutton">
                    <li><a href="/logout">Cerrar Sesion</a></li>
                </button>
                </div>
            </ul>

        </div>
    </header>

    <section>
        <h1>Detalles del alumno</h1>

        <div id="detallealu">

            <div>
                <img src="<%= results[0].imagen%>" alt="" srcset="">
            </div>

            <div id="detalle-alu-nombre">
                <h2>Nombre</h2>
                <p><%= results[0].nombre%></p>
                <h2>Carrera</h2>
                <p><%= results[0].carrera%></p>
                <h2>Email</h2>
                <p><%= results[0].email%></p>
                <h2>Intereses</h2>
                <p><%= results[0].intereses%></p>
                <h2>Habilidades</h2>
                <p><%= results[0].habilidades%></p>
                <h2>Objetivos</h2>
                <p><%= results[0].objetivos%></p>
            </div>
        
        </div>

    </section>

</body>
</html>