<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Anuario</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="#" id="perfilnav">
                <h1>Detalles</h1>
            </a>

        </div>
        <div class="navigation">

            <input type="checkbox"class="toggle-menu">
            <div class="hamburger"></div>

            <ul class="menu">
                <li><a href="/welcome">Inicio</a></li>
                <li><a href="/alumnosSesion">Alumnos</a></li>
                <li><a href="/proyectosSesion">Proyectos</a></li>
                
                <div class="mar">
                <button class="upbutton">
                    <li><a href="/logout">Cerrar Sesion</a></li>
                </button>
                </div>
            </ul>
        </div>
    </header>

    <section id="seccionpro">
        <div id="contenedorpro" style="background-image: url('<%= results[0].imagenPrincipal %>');">
          <div class="overlay"></div>
          <h1><%= results[0].titulo %></h1>
          <h2>Autores: <%= results[0].autores %></h2>
          
        </div>
        <div id="descripcion-proyecto2">
                
                <h2>Sobre el proyecto</h2>
                <p><%= results[0].descripcionCorta %></p>
                
                <img id="imagepro" src="<%=results[0].imagenesAdicionales%>" alt="" srcset="">
                
                <h2>Descripción larga</h2>
                <p><%= results[0].descripcionLarga %></p>
          </div>
          
      </section>

        


</body>
</html>